<!DOCTYPE html>
<html>
  <head>
    <title>PreviewBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bundle' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript">
       function processBarcode(b){
         var d = document.createElement("div");
         d.innerHTML = b;
         document.body.appendChild(d);
       }
     </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
